body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color:#fff;
}
* { 
	color:#fff;
 	text-decoration: none;

}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav__bar{
  text-decoration:none;
  color:#fff;
}
ul{
  list-style:none;
  color:#fff;
}

/* ---- particles.js container ---- */ #particles-js{ position:absolute; z-index:-1;width: 100%; height: 100%; background-color: #000937; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 0px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 0px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

/* NAV BAR*/
.nav {
  width: 80%;
  text-align:center; 
  position: absolute;
  z-index:100;
}

.nav__list {
  width: 100%;
}

.item {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  margin-left:60px;
  line-height: 24px;
  padding-top: 20px;
  font-weight: 500;
  font-size: 1.2em;
  font-family: 'Jura', sans-serif;;
}

nav a{
	text-decoration: none;
	color: #FFF;
	text-shadow: #FFF 0 0 10px;
}
.home{
  position:relative;
  text-align: center;
  padding-top:130px;
  width:100%;
}
.pic{
  border:none;
  height:180px;
  width:240px;
  transform:          rotate(90deg);
-ms-transform:      rotate(90deg);
-moz-transform:     rotate(90deg);
-webkit-transform:  rotate(90deg);
-o-transform:       rotate(90deg);
border-radius: 2000px;
margin-bottom: 50px;
}
.about-me{
  width: 100%;
  background-color:#000;
  text-align: center;
  position: absolute;
  z-index: 10;
  display: inline-block;
  padding-left:50px;
  font-size: 1.2em;
  font-family: 'Ubuntu', sans-serif;
}
.about-me-heading{
  font-size: 1.6em;
  text-align:center;
}
.
.projects{
  background-color:#000;
  width:100%;
}
.grid-container {
  display: grid;
  width:100%;
  padding: 150px;
}
.grid-container>div {

  text-align: center;
  padding:20px 0;
  font-size: 30px;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 150px;
}

div.desc {
    padding: 15px;
    text-align: center;
    color:#000;
    font-family: 'Ubuntu', sans-serif;
}




